[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Practice of gitgradle using eclipse
[access "refs/*"]
	owner = group user/kalyaniGade
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kalyaniGade
	label-Verified = -1..+1 group user/kalyaniGade
	push = group user/kalyaniGade
	read = group user/kalyaniGade
	rebase = group user/kalyaniGade
	removeReviewer = group user/kalyaniGade
	submit = group user/kalyaniGade
[access "refs/heads/*"]
	create = group user/kalyaniGade
	push = +force group user/kalyaniGade
	pushMerge = group user/kalyaniGade
	read = group user/kalyaniGade
[access "refs/tags/*"]
	push = group user/kalyaniGade
	push = +force group user/kalyaniGade
